<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/BekijkenSingle.js" defer></script>
    <link rel="stylesheet" href="css/eigenPBekijkenMultiple.css">
    <link rel="stylesheet" href="css/individual.css">
    <link rel="stylesheet" href="css/nav&footer.css">
    <title>PokédexSingle</title>
</head>
<body>
    <% include('header.ejs'); %>
    <<main>
        <div class="pokemon-overview">               
            <section class="number-section">  
                <p>#</p>
                <h1 class="nr-pokemon" id="nummer">1130</h1>
                <div id="a-div"></div>
                <h2 class="naam-pokemon" id="naam">Charmender</h2>
            </section> 
            <section class="section-pokemon">
                <img class="img-pokemon-one" id="image" src="/images/assets_Register_Login/charmender.png" alt="img-pokemon" style="width: 150px;" height="150px">       
            </section>
        </div>

        <div id="pokemon-stats-evolutie">
            <section id="stats-section">
                <article id="Stats">
                     <h3>Stats Pokémon:</h3>
                     <p>Hp: <a id="hp"></a></p>
                     <p>Atk: <a id="atk"></a></p>
                     <p>Def: <a id="def"></a></p>
                     <p>SpAtk: <a id="spAtk"></a></p>
                     <p>SpDef: <a id="spDef"></a></p>
                     <p>Spd: <a id="spd"></a></p>
                </article>
            </section>
            <section id="evolution-section">
                <h4 id="title-evolution-section">Evolution Path</h4>
            <article>
                <a id="base" href=""><img id="original-pokemon" src="/images/assets_Register_Login/charmender.png" alt="original-pokemon" style="width: 50px; height: 50px;" ></a>
                <p id="first-evolution-arrow">⤑</p>
                <a id="first" href=""><img id="first-evolution-img" src="/images/assets_evolution/Charmeleon.png" alt="first-evolution" style="width: 50px; height: 50px;"></a>
                <p id="second-evolution-arrow">⤑</p> 
                <a id="second" href=""><img id="second-evolution-img" src="/images/assets_evolution/Charizard.png" alt="second-evolution" style="width: 50px; height: 50px;"></a>
            </article>
         </section>
        </div>
    </main>
    <% include('footer.ejs'); %>
</body>