<footer>
    <div class="footer-content">
      <img src="/images/logo_navbar/Pikachu-logo-nav.png" alt="" class="footer-logo">
      <h4>Ap Hogeschool IT Project</h4>
    </div>
      <div class="footer-info">
        <p>Project Leden:</p>
        <ul>
          <li>Kirollos</li>
          <li>Lina</li>
          <li>Olivier</li>
          <li>Tjörven</li>
          <li>William</li>
        </ul>      
    </div>
</footer> 