<header>
    <nav>
      <div class="navbar">
        <h1 style="color: wheat;">Pokémon</h1>
        <label style="font-size:10px ; color: burlywood;" for="pokemon-user-img">Your current Pokémon</label>
        <br>
        <img src="/images/assets_evolution/Charizard.png" alt="pokemon-user-img" style="width: 40px; height:auto;" id="user-pokemon-img">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
          <div class="logo">
            <a href="/registration"><img src="/images/logo_navbar/Pikachu-logo-nav.png" alt style="width: 50px; height:auto;"></a>
            <a href="/registration"><h2>Peek At Us! </h2></a>
          </div>
          <div class="menu-items">
            <li><h2 style="color:#8F004A;">Welcome to Peek-At-You !</h2></li>
            <li><img src="/images/logo_navbar/Menu-logo.png" alt=""></li>
            <li><a href="/pokemon">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/vergelijken">PokéPare</a></li>
            <li><a href="#">Battler!</a></li>
            <li><a href="/vangen">Catch-Em-All!</a></li>
            <li><a href="/pokedex">Pokédex...</a></li>
            <li><a href="#">Who's That Pokémon?</a></li>
            <li><a href="/">Exit</a></li> 
</header>