<!DOCTYPE html>
<html lang="nl-BE">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <link rel="stylesheet" href="css/nav&footer.css">
        <link rel="stylesheet" href="css/home.css">
        <title>pokemonLandingspagina</title>
</head>
<body>
    <% include('header.ejs'); %>
    <main>
        <section id="welcome-section">
            <a href="/registration.html"><img src="/assets/images/assets_home/Welcome_image.png" alt="welcome-image" ></a>
        </section>
        <div id="promo-section">
        <section id="read-section">
                <p>
                Are you a fan of the Pokémon franchise? 
                Do you love reading manga?
                <br>
                Join Red on his thrilling journey to become a Pokémon master! 
                <br>
                With his trusty Pokémon and unwavering determination, Red overcomes each challenge on his quest to catch 'em all!
                </p>
            <section id="img-read-section">
                <img src="assets/images/assets_home/volume1.png" alt="volume1" style="width: 150px; height: 200px;">
                <a href="https://www.viz.com/pokemon#section1" target="_blank" class="start-reading-btn">Start Reading!</a>
            </section>
        </section>
        <div id="a-space"></div>
        <section id="watch-section">
            <p>
            Join Ash Ketchum and Pikachu on an epic journey through the Kanto region in Pokémon Season 1: Indigo League. Catch rare Pokémon, battle fierce opponents, and relive the excitement of the classic anime series. Don't miss your chance to become a Pokémon Master. 
            <br><br>
            Go en watch today!
            <br><br>
        </p>
        <div id="a-space"></div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/R4GIyJxvk94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>              
        <a href="https://www.pokemon.com/us/pokemon-episodes/pokemon-tv-seasons/season-1/" target="_blank" class="start-reading-btn">Watch Now!</a>
        </section>
    </div>
        <section id="call-to-action-section">
                <ul id="call-to-action-list">
                    <h3>Register today, catch em all tomorrow 
                    <br><br>
                    Pokémon awaits!</h3>
                    <br>
                    <h4>Get Access To:</h4>
                    <br>
                    <li>PokéPare</li>
                    <li>Battler</li>
                    <li>Catch-Em-All</li>
                    <li>Pokédex</li>
                    <li>Who's That Pokémon</li>
                </ul>
                <a href="registration.html" target="_blank" class="start-reading-btn">Sign Up!</a>
        </section>
    </main>
    <% include('footer.ejs'); %>
</body>