.more {
    color: green !important;
}

.less {
    color: red !important;
}

.even {
    color: black !important;
}

body {
    padding: 10px;
    font-size: large;
}

img {
    height: 10%;
    width: 10%;
}